Repository Teamable-Analytics/algorithms, pull requests merged in 2023-12, with the labels that each got.

#292 student provider can optionally take a random seed
  benchmarking/data/interfaces.py
  benchmarking/data/real_data/cosc341_w2022_provider/providers.py
  benchmarking/data/simulated_data/mock_student_provider.py
Labels: enhancement

#290 Graph error bars
  benchmarking/evaluations/graphing/graph_metadata.py
  benchmarking/evaluations/graphing/line_graph.py
  benchmarking/simulation/insight.py
  tests/test_benchmarking/test_simulation/test_insight.py
Labels: enhancement

#294 Use the same set of students within same trial
  benchmarking/caching/simulation_cache.py
  benchmarking/caching/utils.py
  benchmarking/simulation/simulation.py
  benchmarking/simulation/simulation_set.py
Labels: enhancement

#249 Proportionality up to one item (PROP1) metrics
  benchmarking/evaluations/metrics/proportionality_up_to_one_item.py
  tests/test_benchmarking/test_evaluations/test_metrics/test_proportionality_up_to_one_item.py
Labels: enhancement, benchmarking

#289 Fix API output data is string
  api/api/views/generate_teams.py
Labels: enhancement, api

#301 Fix API not response with a correct error message
  api/api/utils/response_with_metadata.py
  api/api/views/generate_teams.py
Labels: bug, api

#302 Alternative 3D graph ideas
  benchmarking/runs/priority_algorithm/all_parameters/diversify_gender_min_2.py
Labels: exploration, benchmarking

#277 Fix weird algorithm to use different utility function
  api/ai/algorithm_runner.py
  api/ai/double_round_robin_algorithm/custom_models.py
  api/ai/double_round_robin_algorithm/double_round_robin_algorithm.py
  api/ai/double_round_robin_algorithm/utils.py
  api/ai/geg_algorithm/envy_graph.py
  api/ai/geg_algorithm/geg_algorithm.py
  api/ai/geg_algorithm/utils.py
  api/ai/interfaces/algorithm.py
  api/ai/interfaces/algorithm_config.py
  api/ai/interfaces/algorithm_options.py
  api/ai/multiple_round_robin_with_adjusted_winner/custom_models.py
  api/ai/multiple_round_robin_with_adjusted_winner/utils.py
  api/ai/multiple_round_robin_with_adjusted_winner_algorithm/__init__.py
  api/ai/multiple_round_robin_with_adjusted_winner_algorithm/custom_models.py
  api/ai/multiple_round_robin_with_adjusted_winner_algorithm/mrr_algorithm.py
  api/ai/multiple_round_robin_with_adjusted_winner_algorithm/utils.py
  api/models/team/model.py
Labels: benchmarking

#310 Add Option For Exponent Base in Priority Satisfaction Metric
  benchmarking/evaluations/metrics/priority_satisfaction.py
Labels: enhancement

#314 Add option for ensure exact generation
  benchmarking/data/simulated_data/mock_student_provider.py
  tests/test_benchmarking/test_data/test_simulated_data/test_mock_student_provider.py
Labels: enhancement, benchmarking
