Repository Teamable-Analytics/algorithms, pull requests merged in 2024-02, with the labels that each got.

#360 Fix bug in new social metric
  benchmarking/evaluations/metrics/utils/student_calculations.py
Labels: bug

#363 Fix divide by zero error in cosine similarity
  benchmarking/evaluations/metrics/cosine_similarity.py
Labels: bug

#358 Allow filtering of cosine similarity to specific attributes
  benchmarking/evaluations/metrics/cosine_similarity.py
  tests/test_benchmarking/test_evaluations/test_metrics/test_cosine_similarity.py
Labels: enhancement, benchmarking

#343 Add solo status metric
  benchmarking/evaluations/metrics/average_solo_status.py
  tests/test_benchmarking/test_evaluations/test_metrics/test_average_solo_status.py
Labels: enhancement, benchmarking

#372 CORS settings for local development
  api/api/settings/__init__.py
Labels: bug

#371 Serializer should use id instead of _id
  api/models/student/serializer.py
  api/models/team/serializer.py
  api/models/team_set/serializer.py
  tests/test_api/test_models/test_student/test_serializer.py
  tests/test_api/test_models/test_team/test_serializer.py
  tests/test_api/test_models/test_team_set/test_serializer.py
Labels: bug

#365 API for student generation
  api/api/urls/__init__.py
  api/api/utils/response_with_metadata.py
  api/api/views/__init__.py
  api/api/views/generate_teams.py
  api/api/views/simulate_people.py
  benchmarking/data/simulated_data/mock_student_provider.py
Labels: api

#370 Metrics API
  api/api/urls/__init__.py
  api/api/validators/evaluate_team_set_validator.py
  api/api/views/__init__.py
  api/api/views/evaluate_team_set.py
  benchmarking/evaluations/metrics/average_solo_status.py
  benchmarking/evaluations/metrics/average_timeslot_coverage.py
Labels: api

#333 Write runtime test for priority
  benchmarking/runs/priority_algorithm/default_parameters/__init__.py
  benchmarking/runs/priority_algorithm/default_parameters/runtimes.py
Labels: benchmarking

#384 Update docs to include submodule initialization
  README.md
Labels: documentation
