Repository Teamable-Analytics/algorithms, pull requests merged in 2024-01, with the labels that each got.

#318 Add COSC341 W2021T2 student and team provider
  benchmarking/data/real_data/cosc341_w2022_provider/COSC341_W2021T2_data.json
  benchmarking/data/real_data/cosc341_w2022_provider/data_parser.py
  benchmarking/data/real_data/cosc341_w2022_provider/gen_group_set-20220331_141058.json
  benchmarking/data/real_data/cosc341_w2022_provider/providers.py
  tests/test_benchmarking/test_data/test_real_data/__init__.py
  tests/test_benchmarking/test_data/test_real_data/test_providers.py
Labels: enhancement

#316 Fix API production refuses to handle localhost
  api/api/settings/prod.py
  requirements.txt
Labels: bug, api

#324 Project coverage metric
  benchmarking/evaluations/metrics/average_project_requirements_coverage.py
  tests/test_benchmarking/test_evaluations/test_metrics/test_average_project_requirements_coverage.py
Labels: benchmarking

#326 Fix MockStudentProvider validation
  benchmarking/data/simulated_data/mock_student_provider.py
Labels: bug

#325 Timeslot coverage metrics
  benchmarking/evaluations/metrics/average_timeslot_coverage.py
  tests/test_benchmarking/test_evaluations/test_metrics/test_average_timeslot_coverage.py
Labels: benchmarking

#335 Fix Priority Algorithm's internal scoring function for concentration
  benchmarking/evaluations/goals.py
  benchmarking/simulation/goal_to_priority.py
Labels: bug, blocking, benchmarking

#338 Some changes from the MEGA BRANCH ʷᵒᵒᵒ that should be in main
  api/ai/interfaces/algorithm_config.py
  api/ai/priority_algorithm/priority_algorithm.py
  api/models/enums.py
  benchmarking/evaluations/graphing/graph_3d.py
  benchmarking/evaluations/scenarios/include_social_friends.py
Labels: enhancement

#342 Fix cosine similarity
  benchmarking/evaluations/metrics/cosine_similarity.py
Labels: bug

#340 Add 2023 summer capstone student data
  api/models/enums.py
  benchmarking/data/real_data/cosc341_w2021_t2_provider/COSC341_W2021T2_data.json
  benchmarking/data/real_data/cosc341_w2021_t2_provider/__init__.py
  benchmarking/data/real_data/cosc341_w2021_t2_provider/data_parser.py
  benchmarking/data/real_data/cosc341_w2021_t2_provider/gen_group_set-20220331_141058.json
  benchmarking/data/real_data/cosc341_w2021_t2_provider/providers.py
  benchmarking/data/real_data/cosc499_s2023_provider/COSC499_S2023_data.json
  benchmarking/data/real_data/cosc499_s2023_provider/__init__.py
  benchmarking/data/real_data/cosc499_s2023_provider/attributes.json
  benchmarking/data/real_data/cosc499_s2023_provider/data_parser.py
  benchmarking/data/real_data/cosc499_s2023_provider/gen_group_set-20240125_110626.json
  benchmarking/data/real_data/cosc499_s2023_provider/providers.py
  tests/test_benchmarking/test_data/test_real_data/test_cosc341_w2021_t2_provider/__init__.py
  tests/test_benchmarking/test_data/test_real_data/test_cosc341_w2021_t2_provider/test_providers.py
  tests/test_benchmarking/test_data/test_real_data/test_cosc499_s2023_provider/__init__.py
  tests/test_benchmarking/test_data/test_real_data/test_cosc499_s2023_provider/test_providers.py
Labels: enhancement

#351 Add new social metric
  benchmarking/evaluations/metrics/utils/student_calculations.py
  benchmarking/evaluations/metrics/utils/team_calculations.py
Labels: enhancement, benchmarking

#356 Add stdev of social satisfaction among teams
  benchmarking/evaluations/metrics/average_social_satisfied.py
Labels: enhancement, benchmarking
