Repository Teamable-Analytics/algorithms, pull requests merged in 2024-04, with the labels that each got.

#402 Create Mutation Benchmarks
  .gitmodules
  benchmarking/data/simulated_data/realistic_class/providers.py
  benchmarking/runs/mutations/__init__.py
  benchmarking/runs/mutations/mutation_benchmarking.py
  benchmarking/runs/mutations/mutation_benchmarking_reasonable.py
Labels: benchmarking

#418 Clean up and make GEG functional
  api/ai/geg_algorithm/envy_graph.py
  api/ai/geg_algorithm/geg_algorithm.py
  benchmarking/data/simulated_data/mock_student_provider.py
  benchmarking/simulation/mock_algorithm.py
Labels: bug, enhancement, benchmarking

#427 Clean up MRR
  api/ai/multiple_round_robin_with_adjusted_winner_algorithm/mrr_algorithm.py
Labels: bug, benchmarking

#429 Add readme for API
  api/api/README.md
Labels: documentation, api
